.pageNotFound {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    user-select: none;
    object-fit: cover;
}

.pageNotFound * {
    z-index: 100;
}

.pageNotFound > h1 {
    font-size: 4rem;
    color: #fff;
}
.pageNotFound > a {
    color: #fff;
}