.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-direction: column;
}

.footer * {
  color: #0099b6;
}


.content {
    gap: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigator {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22d8f8;
    width: 80px;
    border-radius: 100px;
    height: 80px;
}

.logo > img {
    width: 65px;
    height: auto;
}
.navList {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.navList > li > a {
    font-size: 1.2rem;
}

.content .contacts {
    font-size: 3rem;
    font-family: "Roboto";
    margin: auto;
    width: fit-content;
    font-weight: 400;
}

.madeWith {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.madeWith > h4, .navigator > h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 0 1rem;
        padding-top: 3rem !important;
    }
    .content > a {
        font-size: 2.5rem;
    }
    .madeWith, .navigator {
        padding: 1%;
    }
    .madeWith > h4,.navigator > h4  {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .content a {
        top: -1rem;
    }
    .navigator {
        flex-direction: column;
        gap: 1rem;
    }
    .footer {
        padding: 0 !important;
    }
    .contacts {
        font-size: 28px !important;
    }
}